$color-bg-canvas: #1f2223;
$color-bg-inverse-primary: #ffffff;
$color-bg-muted: #464b53;
$color-bg-primary: #33373d;
$color-bg-primary-raised: #40444a;
$color-bg-secondary: #40444a;
$color-bg-strong: #2d2f34;
$color-bg-subtle: #2d2f34;
$color-bg-surface: #27292d;
$color-bg-surface-raised-tb-deleted: #2d2f34;
$color-border-inverse-primary: #c6cad2;
$color-border-strong: #4d535c;
$color-border-subtle: #464b53;
$color-border-weak: #33373d;
$color-brand-emphasis: #006ad4;
$color-brand-muted: #8ac4ff;
$color-brand-primary: #006fdf;
$color-brand-strong: #0c80f5;
$color-brand-subtle: #313b45;
$color-brand-weak: #313b45;
$color-fg-inverse-primary: #ffffff;
$color-fg-muted: #8b929c;
$color-fg-on-accent-testing: #ffffff;
$color-fg-on-brand: #ffffff;
$color-fg-primary: #ffffff;
$color-fg-secondary: #c6cad2;
$color-fg-subtle: #5a626a;
$color-fg-tertiary: #a5a9b1;
$color-info-emphasis: #eff6ff;
$color-info-muted: #1d4ed8;
$color-info-primary: #85b4ff;
$color-info-strong: #dbeafe;
$color-info-subtle: #1e40af;
$color-info-weak: #313a57;
$color-negative-emphasis: #fef2f2;
$color-negative-muted: #b91c1c;
$color-negative-primary: #fb4141;
$color-negative-strong: #fee2e2;
$color-negative-subtle: #991b1b;
$color-negative-weak: #4f2c2c;
$color-overlay-5: rgba(255, 255, 255, 0.05);
$color-positive-emphasis: #f0fdf4;
$color-positive-muted: #15803d;
$color-positive-primary: #6ecb72;
$color-positive-strong: #dcfce7;
$color-positive-subtle: #344139;
$color-positive-weak: #344139;
$color-support-blue-emphasis: #1e3a8a;
$color-support-blue-muted: #93c5fd;
$color-support-blue-primary: #3b82f6;
$color-support-blue-strong: #1d4ed8;
$color-support-blue-subtle: #bfdbfe;
$color-support-blue-weak: #dbeafe;
$color-support-fuchsia-emphasis: #701a75;
$color-support-fuchsia-muted: #f0abfc;
$color-support-fuchsia-primary: #d946ef;
$color-support-fuchsia-strong: #a21caf;
$color-support-fuchsia-subtle: #f5d0fe;
$color-support-fuchsia-weak: #fae8ff;
$color-support-violet-emphasis: #4c1d95;
$color-support-violet-muted: #c4b5fd;
$color-support-violet-primary: #8b5cf6;
$color-support-violet-strong: #6d28d9;
$color-support-violet-subtle: #ddd6fe;
$color-support-violet-weak: #ede9fe;
$color-warning-emphasis: #fff7ed;
$color-warning-muted: #c2410c;
$color-warning-primary: #f9a95d;
$color-warning-strong: #ffedd5;
$color-warning-subtle: #9a3412;
$color-warning-weak: #4a3d30;
