$color-bg-canvas: #f5f7fa;
$color-bg-inverse-primary: #0e121b;
$color-bg-muted: #e1e4ea;
$color-bg-primary: #f5f7fa;
$color-bg-primary-raised: #ffffff;
$color-bg-secondary: #e9edf2;
$color-bg-strong: #cacfd8;
$color-bg-subtle: #f8fafc;
$color-bg-surface: #ffffff;
$color-bg-surface-raised-tb-deleted: #ffffff;
$color-border-inverse-primary: #0e121b;
$color-border-strong: #cacfd8;
$color-border-subtle: #e1e4ea;
$color-border-weak: #e9edf2;
$color-brand-emphasis: #006ad4;
$color-brand-muted: #8ac4ff;
$color-brand-primary: #006fdf;
$color-brand-strong: #0c80f5;
$color-brand-subtle: #e5f2ff;
$color-brand-weak: #f5faff;
$color-fg-inverse-primary: #ffffff;
$color-fg-muted: #99a0ae;
$color-fg-on-accent-testing: #ffffff;
$color-fg-on-brand: #ffffff;
$color-fg-primary: #0e121b;
$color-fg-secondary: #525866;
$color-fg-subtle: #cacfd8;
$color-fg-tertiary: #6f7686;
$color-info-emphasis: #1e3a8a;
$color-info-muted: #93c5fd;
$color-info-primary: #3b82f6;
$color-info-strong: #1d4ed8;
$color-info-subtle: #dbeafe;
$color-info-weak: #eff6ff;
$color-negative-emphasis: #7f1d1d;
$color-negative-muted: #fca5a5;
$color-negative-primary: #ef4444;
$color-negative-strong: #b91c1c;
$color-negative-subtle: #fee2e2;
$color-negative-weak: #fef2f2;
$color-overlay-5: rgba(255, 255, 255, 0.05);
$color-positive-emphasis: #14532d;
$color-positive-muted: #86efac;
$color-positive-primary: #22c55e;
$color-positive-strong: #15803d;
$color-positive-subtle: #dcfce7;
$color-positive-weak: #f0fdf4;
$color-support-blue-emphasis: #1e3a8a;
$color-support-blue-muted: #93c5fd;
$color-support-blue-primary: #3b82f6;
$color-support-blue-strong: #1d4ed8;
$color-support-blue-subtle: #bfdbfe;
$color-support-blue-weak: #dbeafe;
$color-support-fuchsia-emphasis: #701a75;
$color-support-fuchsia-muted: #f0abfc;
$color-support-fuchsia-primary: #d946ef;
$color-support-fuchsia-strong: #a21caf;
$color-support-fuchsia-subtle: #f5d0fe;
$color-support-fuchsia-weak: #fae8ff;
$color-support-violet-emphasis: #4c1d95;
$color-support-violet-muted: #c4b5fd;
$color-support-violet-primary: #8b5cf6;
$color-support-violet-strong: #6d28d9;
$color-support-violet-subtle: #ddd6fe;
$color-support-violet-weak: #ede9fe;
$color-warning-emphasis: #7c2d12;
$color-warning-muted: #fdba74;
$color-warning-primary: #f97316;
$color-warning-strong: #c2410c;
$color-warning-subtle: #ffedd5;
$color-warning-weak: #fff7ed;
