$content-body-font-family-geist: Geist;
$content-body-font-weight-regular: Regular;
$content-heading-font-family-geist: Geist;
$content-heading-font-weight-semi-bold: SemiBold;
$content-label-font-family-geist: Geist;
$content-label-font-weight-medium: Medium;
